{% extends 'base/base.html' %}
{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'basket_css/basket.css' %}"> {% endblock %}
{% block js %} <script src="{% static 'basket_js/basket.js' %}" defer></script> {% endblock %}

{% block title %}Кошик{% endblock%}

{% block content %}

<div class="content">
    {% csrf_token %}
    <input class="delete-product" value="{% url 'delete_from_basket' %}" hidden>
    
    {% for product_in_basket in products_in_basket %}
    <div id="product_{{product_in_basket.pk}}">
        <h2 class="product-name">{{product_in_basket.product.name}}</h1>
            <img src="{{ product_in_basket.product.image.url }}" alt="{{ product_in_basket.product.name }}">
            <p class="product-description">{{ product_in_basket.product.description }}</p>
            <p class="product-price">{{ product_in_basket.product.price }}грн</p>
            <p class="user-note">{{ product_in_basket.user_note }}грн</p>
            <button class="product-remove-button" value="{{product_in_basket.pk}}">Видалити з кошику</button>
    </div>
    {% endfor %}
    <div class="buy-modal-window">
        <div class="close-button">&Cross;</div>
        <h2 class="text-order">Способи оформлення</h2>
        <div class="order-buttons">
            <p><a class="order-button one-time-button">Разове оформлення</a></p>
            <p><a href="{% url 'reg_page' %}" class="order-button registration-button">Реєстрація</a></p>
        </div>
    </div>
    <button class="buy-button">Оформити замовлення</button>
</div>

{% endblock %}