{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_package_vp/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_package_vp/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_package_vp/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_package_vp/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon_package_vp/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{% static 'auth_css/auth.css' %}">
    <script src="{% static 'js/jQuery.js' %}" defer></script>
    <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js" defer></script>
    <script src="{% static 'auth_js/auth.js' %}" defer></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="content">
        {% block form %}{% endblock %}
    </div>

</body>

</html>