    
.header-basket {
    width: 15%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2% 4% 1%;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.modal-basket-cloth {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(35, 35, 35, 0.5);
    z-index: 14;
}

.header-basket h1 {
    color: rgb(0, 0, 0);
    font-size: calc(24px + 10 * (100vw / 1920));
}

.header-basket span {
    font-size: 39px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .header-basket h1 {
        font-size: calc(24px (10 + 10 * 0.7) + ((100vw - 320px) / 1920))
    }
}

.buy-button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    width: 272px;
    height: 56px;
    background: #85DB9D;
    border: 3px solid #000000;
    border-radius: 13px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    /* identical to box height */

    letter-spacing: 0.215em;
}