{% extends 'base/base.html' %}
{% load static %}
{% block css %}{% endblock %}
{% block title %}Меню{% endblock%}

{% block content %}
<div id="content">
    <div class="product-row">
        {% for product in all_products %}

        <!-- Отображение информации о товаре -->
        <a class="product-item" href="{{ product.get_absolute_url }}">
            <h2>{{ product.name }}</h2>
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <p class="product-description">{{ product.description }}</p>
            <p class="product-price">{{ product.price }}грн</p>
        </a>

        {% endfor %}
    </div>
</div>
{% endblock %}