.header-profile {
    display: flex;
    justify-content: space-between;
    padding: 2% 4% 1%;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    background-color: #85DB9D;
    z-index: 999;
    width: 100%;
}

.close_profile {
    font-size: 39px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}